In [1]:
#1. Write a program to find sum of all elements in a list of integers.
l=[19,32,10,55,31,32,94,29,10,65,77,40,40]
s=sum(l)
print(s)

534

In [15]:
#2. Input a sentence as a string. a) Print its length,b) Print the first half of string
str=input("enter a sentance : ")
l=len(str)
print("length of sentance = ",l)
print("First half of string :",str[0:int(l/2)])

enter a sentance : Hello World
length of sentance =  11
First half of string : Hello

In [21]:
#3. Write a program to enter a tuple of integers as(78,45,32,19,82,77,40,39). Change the third value in the tuple to 100
t=(78,45,32,19,82,77,40,39)
l=list(t)
l[2]=100
t1=tuple(l)
print(t1)

(78, 45, 100, 19, 82, 77, 40, 39)

In [67]:
#4. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
#(a) Delete the first occurrence of 32
#(b) Delete all occurrences of 40
#(c) Delete the value at index=5
#(d) Modify the value at index=9 as 300
#(e) Add 200 at index=2
#(f) Print the final list with its length, maximum valueand sum of all elements

listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
print("initial list: ",listA)
a=listA
a.remove(32)
del a[10:12]
del a[5]
a.append(300)
a.insert(2,200)
print("final list: ",a)
print("length: ",len(a))
print("maximum value: ",max(a))
print("sum: ",sum(a))

initial list:  [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
final list:  [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]
length:  11
maximum value:  300
sum:  828

In [99]:
#5. Consider a string ”The day has been long”.
#(a) Delete the value at index =4
#(b) Print the string 4 times in a single line with spacebetween each repetition
#(c) Print the string 3 times in a new line each time
#(d) Modify the string at index 7 as ’A’
#(e) Print the string from index 4 to 15
#(f) Print the final string with its length

str1="The day has been long"
print("initial string: ",str1)
s=str1[0:4]+str1[5:]
str1=s
print((str1+" ")*4)
print((str1+"\n")*3)
s2=str1[0:7]+"A"+str1[8:]
print(str1[4:16])
str1=s2
print("final string: ",str1)
print("length: ",len(str1))

initial string:  The day has been long
The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long

ay has been
final string:  The ay Aas been long
length:  20