In [22]:
#1.
score=[23,45,67,42,56,12,8,9,23,90,88]
print("Participants score: ",score)
score.sort()
print("Runner up score is: ",score[-2])

Participants score:  [23, 45, 67, 42, 56, 12, 8, 9, 23, 90, 88]
Runner up score is:  88

In [39]:
#2.
D={'John':[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
name=input("Enter the name: ")

n2=n.capitalize()
if n2 in D:
    D[name]=[88,77,99]
    print(D)
else:
    print("Name not found")

Enter the name: PeTer
{'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85], 'PeTer': [88, 77, 99]}

In [45]:
#3.
age=int(input("Enter the age: "))
g.lower()
if age<5:
    price=0
elif age>=5 and age<=12:
    price=10
elif age>12 and age<=60:
    price=50
else:
    price=0
if age>=5 and age<=60:
    g=input("Enter the gender(male/female): ")
    if g=='female':
        price=price/2
print("The ticket price is: ",price)

Enter the age: 11
Enter the gender(male/female): male
The ticket price is:  10